.container {
    margin: auto;
    width: 80%;
}

.button {
    border: none;
    width: 100%;
    background: black;
}

.button:hover {
    background: pink;
}

.title {
    color: white;
    margin: 5px 0;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.text {
    margin: 10px 20px;
}