.container {
    margin: 10px auto;
    width: 85%;
}

.button {
    border: none;
    width: 100%;
    background: black;
}

.button:hover {
    background: grey;
}

.title {
    color: white;
    margin: 5px 0;
    font-size: clamp(1rem, 1.5vw, 2rem);
    min-height: 8px;
}

.text {
    margin: 10px 20px;
    white-space: pre-line;
    white-space: pre-line;
}