.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.content {
  max-width: 1000px;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assos {
  padding-right: 5px;
}

.asso {
  max-height: 100px;
  max-width: 200px;
  padding: 5px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {
  padding: 10px;
  width: 100%;
}

.textWrapper p {
  text-align: justify;
}

.img {
  max-height: 10%;
  max-width: 110%;
  padding: 5px;
}

.source {
  color: blue;
}

.text p {
  padding: 5px 0;
}