---
interface Props {
  link: string;
  transparent?: boolean;
}
let { link, transparent = false } = Astro.props;
---

<a class={`wrapper ${transparent ? "transparent" : ""}`} href={link}
  ><p>Santé</p></a
>

<style>
  .wrapper {
    background: rgb(166,25,46);
    width: fit-content;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: white;
  }

  .transparent {
    background: rgba(166,25,46,0.5);
  }
</style>
