---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/general/Footer.astro";
import ActuPage from "@/components/actus/ActuPage/ActuPage";

import {
  parseDateFromString,
  sortListPostByDate,
} from "@/helpers";
import type { ActuT } from "@/helpers";

interface frontmatter {
  title: string;
  date?: string;
  img?: string;
  source?: string;
  assos: string[];
  persistant?: boolean;
}

let posts = (await Astro.glob<frontmatter>("./*.md")).map((p): ActuT => {
  return {
    title: p.frontmatter.title,
    date: parseDateFromString(p.frontmatter.date),
    img: p.frontmatter.img,
    source: p.frontmatter.source,
    assos: p.frontmatter.assos ?? [],
    content: p.compiledContent(),
    persistant: p.frontmatter.persistant,
    link: p.url,
  };
});

posts = sortListPostByDate(posts).reverse();
---

<Layout title="actualités">
  <main class="content">
    <ActuPage actus={posts} alwaysShow={true} client:load />
  </main>
  <Footer />
</Layout>

<style>
  .content {
    min-height: calc(
      100vh - 150px
    ); /* 150px for footer, no header cause header in ActuPage */
  }
</style>
