<div>
  <img src="/assets/logos/celsa_white.svg" alt="CELSA Logo">
</div>

<style>
  div {
    background: #FFB500;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  img {
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 10px;
  }
</style>
