---
interface Props {
  title: string;
  url?: string;
}

const { title, url } = Astro.props;

const links = url?.split("/");
links?.splice(-1);
links?.splice(0, 1);
---

<header>
  <a href="/">
    <img src="/assets/logo/logo.png" alt="logo" class="logo" />
  </a>
  {url && url !== "" && <span class="slash">/</span>}
  {
    links?.map((link, index) => {
      return (
        <>
          <a class="link" href={`/${links.slice(0, index + 1).join("/")}`}>
            {link}
          </a>
          <span class="slash">/</span>
        </>
      );
    })
  }

  <h1 style={url === "" ? "width:100%; text-align:center;" : ""}>{title}</h1>
  <div class="space" style={url === "" ? "display: block;" : "display: none;"}>
  </div>
</header>

<style>
  header {
    background-color: black;
    color: white;
    height: 50px;

    padding: 0 10px;
    display: flex;
    align-items: center;

    overflow: hidden;
  }

  .link {
    font-size: 1.2rem;
  }
  .slash {
    /* font-weight: 900; */
    font-size: 2rem;
    color: #e7e7e7;
    padding: 5px;
  }

  h1 {
    height: min-content;
    padding: 5px;
  }

  img {
    padding: 4px;
    width: 59px;
    filter: invert(1);
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .space {
    width: 59px;
  }
</style>
