---
import Header from "../components/Header/Header";
import Layout from "../layouts/Layout.astro";
import footer_data from "../data/footer.json";
import Footer from "../components/Footer/Footer";
import ActuPage from "../components/ActuPage/ActuPage";

import { parseDateFromString } from "../helpers";
import type { ActuT } from "../helpers";

interface frontmatter {
  title: string;
  date?: string;
  img?: string;
  source?: string;
  assos: string[];
  persistant?: boolean;
}

let posts = (await Astro.glob<frontmatter>("./actus/*.md")).map((p):ActuT => {
  return {
    title: p.frontmatter.title,
    date: parseDateFromString(p.frontmatter.date),
    img: p.frontmatter.img,
    source: p.frontmatter.source,
    assos: p.frontmatter.assos ?? [],
    content: p.compiledContent(),
    persistant: p.frontmatter.persistant,
  };
});
---

<Layout title="actualités">
  <Header title="Actualités Universitaires" goHome={() => {
    window.location.href = "/";
  }}/>
  <main class="content">
    <ActuPage actus={posts} client:load/>
  </main>
  <Footer {...footer_data} />
</Layout>

<style>
  .content {
    min-height: calc(
      100vh - 50px - 150px
    ); /* 50px for header, 150px for footer */
  }
</style>
