---
import Header from "../components/Header/Header";
import Layout from "../layouts/Layout.astro";
import footer_data from "../data/footer.json";
import Footer from "../components/Footer/Footer";
import Actu from "../components/Actu/Actu";

import { parseDateFromString } from "../helpers";

interface frontmatter {
  title: string;
  date?: string;
  img?: string;
  source?: string;
  assos?: string[];
}

let posts = (await Astro.glob<frontmatter>("./actus/*.md")).map((p) => {
  return {
    title: p.frontmatter.title,
    date: parseDateFromString(p.frontmatter.date),
    img: p.frontmatter.img,
    source: p.frontmatter.source,
    assos: p.frontmatter.assos,
    content: p.compiledContent(),
  };
});
---

<Layout title="actualités">
  <Header title="LMC" />
  <main class="content">
    {posts.map((actu) => <Actu {...actu} />)}
  </main>
  <Footer {...footer_data} />
</Layout>

<style>
  .content {
    min-height: calc(
      100vh - 50px - 150px
    ); /* 50px for header, 150px for footer */
  }
</style>
