.wrapper {
  background-color: black;
  color: white;
  height: 50px;

  padding: 0 10px;
  display: flex;
}

.title {
  width: 100%;
  text-align: center;
}

.logo {
  width: 50px; /* same as height on header */
  aspect-ratio: 1;
  filter: invert(1);
  cursor: pointer;
}

.arrow {
  height: 100%;
  cursor: pointer;
  aspect-ratio: 1;
}