.wrapper {
  height: 100vh;
  height: 100svh;
}

/* FIXME for whatever reason there is like 5px of space before */
.contentWrapper {
  min-height: calc(100% - 50px - 150px); /* 50px for header, 150px for footer */
}