:root {
}
html {
  background-color: #f6f6f6;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
