body {
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
