.actus_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.selected {
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

.unselected {
  color: rgba(0, 0, 0, 0.5);
}

.actus_nav a {
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
