---
import type { Assos } from "../../helpers";
import { CelsaC, LettresC, PolyC, SanteC, SciencesC, SuC } from "./affCercles";

interface Props {
  assos: Assos;
}

const { assos } = Astro.props;
---

<div class="all">
  {
    assos.affiliation?.map((aff: string) => {
      if (aff === "celsa") return <CelsaC />;
      if (aff === "lettres") return <LettresC />;
      if (aff === "polytech") return <PolyC />;
      if (aff === "sante") return <SanteC />;
      if (aff === "sciences") return <SciencesC />;
      if (aff === "su") return <SuC />;
    })
  }

  <a class="wrapper" href={assos.url}>
    <img
      src={assos.logooriginal ?? assos.logo}
      alt={(assos?.acronyme ?? assos.titre.slice(0, 10)) + " logo"}
      class="logo"
      loading="lazy"
    />
    <p class="titre">{assos.titre}</p>
    <p class="acronyme">{assos.acronyme && `(${assos.acronyme})`}</p>
  </a>
  <a href={assos.url} class="wrapperMobile">
    <img
      src={assos.logooriginal ?? assos.logo}
      alt={(assos?.acronyme ?? assos.titre.slice(0, 10)) + " logo"}
      class="logoM"
      loading="lazy"
    />
    <p class="titre">{assos.acronyme ?? assos.titre}</p>
  </a>

  {
    assos.affiliation?.reverse().map((aff: string) => {
      if (aff === "celsa") return <CelsaC />;
      if (aff === "lettres") return <LettresC />;
      if (aff === "polytech") return <PolyC />;
      if (aff === "sante") return <SanteC />;
      if (aff === "sciences") return <SciencesC />;
      if (aff === "su") return <SuC />;
    })
  }
</div>

<style>
  .all {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .wrapperMobile,
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid black;
    width: 60vw;
    margin: 0.5rem 0;
    border-radius: 50px;
    height: 100px;
  }

  .wrapperMobile {
    display: none;
    widows: 80vw;
    justify-content: flex-start;
  }

  @media (max-width: 900px) {
    .wrapper {
      display: none;
    }
    .wrapperMobile {
      display: flex;
    }
  }

  .logoM,
  .logo {
    max-height: 100px;
    width: 150px;
    object-fit: contain;
    padding: 1rem;
    overflow: hidden;
  }

  .logoM {
    max-height: 80px;
    width: 80px;
  }

  .titre {
    font-size: 1.2rem;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .acronyme {
    font-size: 1rem;
    padding: 1rem;
    white-space: nowrap;
    min-width: 150px;
    text-align: center;
  }
</style>
