---
import { LettresS, CelsaS, SciencesS, SuS, SanteS, PolyS } from "./AffSelect";

import type { TypeAsso, Affiliations } from "../../helpers";
interface Props {
  typeSelected?: TypeAsso;
  affSelected?: Affiliations;
}

const typeAssos: TypeAsso[] = [
  "filiere",
  "cursus",
  "ludique",
  "artistique",
  "evenementiel",
  "sports",
  "solidarite",
  "entrepreneuriat",
  "feminisme",
  "syndicat",
  "autre",
];

const { typeSelected, affSelected } = Astro.props;

const baseLink = "/associations" + (affSelected ? `/${affSelected}/` : "/");
const LinkAff = (name: Affiliations) =>
  name !== affSelected
    ? `/associations/${name}/${typeSelected ?? ""}`
    : `/associations/${typeSelected ?? ""}`;

const showAll = !typeSelected && !affSelected;

console.log(!showAll && affSelected !== "lettres");
---

<div class="affsWrapper">
  <SuS link={LinkAff("su")} transparent={!showAll && affSelected !== "su"} />
  <LettresS
    link={LinkAff("lettres")}
    transparent={!showAll && affSelected !== "lettres"}
  />
  <SciencesS
    link={LinkAff("sciences")}
    transparent={!showAll && affSelected !== "sciences"}
  />
  <CelsaS
    link={LinkAff("celsa")}
    transparent={!showAll && affSelected !== "celsa"}
  />
  <PolyS
    link={LinkAff("polytech")}
    transparent={!showAll && affSelected !== "polytech"}
  />
  <SanteS
    link={LinkAff("sante")}
    transparent={!showAll && affSelected !== "sante"}
  />
</div>

<div class="typesWrapper">
  {
    typeAssos.map((type) => (
      <a
        href={type === typeSelected ? baseLink : baseLink + type}
        class={`typeWrapper ${!showAll && type !== typeSelected ? "transparent" : ""}`}
      >
        {type}
      </a>
    ))
  }
</div>

<style>
  .affsWrapper,
  .typesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }

  .typeWrapper {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: 0.2s;

    font-size: 1.2rem;
  }

  @media (max-width: 900px) {
    .typeWrapper {
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
    }
  }

  .transparent {
    background: rgba(0, 0, 0, 0.5);
  }
</style>
