---
import { getIconSource } from "@/helpers";

import { miscIcons, getMiscIcon } from "../../assets/misc";
interface Props {
  title: string;
  link?: string;
}

const { title, link } = Astro.props;
---

<a class="wrapper" href={link}>
  <img src={getMiscIcon(title).src} alt={title} class="icon" />
  <p class="title">{title}</p>
  <div class="hackCenter"></div>

  <style>
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      background-color: black;
      color: white;
      border-radius: 2rem;
      padding: 1rem;
      margin: 1rem;
      text-transform: capitalize;
      font-size: 1.2rem;
      font-weight: bold;

    }
    .icon {
      width: 40px;
      height: 40px;
      filter: invert(1);
    }
    .hackCenter {
      width: 40px;
    }
  </style>
</a>
