---
import { getMiscIcon } from "../../assets/misc";
interface Props {
  title: string;
  content?: string;
  link?: string;
}

const { title, link, content } = Astro.props;
---

<a class={"wrapper " + (link ? "animate" : "")} href={link}>
  <img src={getMiscIcon(title).src} alt={title} class="icon" />
    <p class="title">{content ?? title}</p>
  <div class="hackCenter"></div>
</a>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .animate {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }

  .animate:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  .icon {
    width: 40px;
    height: 40px;
    filter: invert(1);
  }
  .hackCenter {
    width: 40px;
  }
</style>
